.navbar_logo{
    width: 3vw;
    height: 5vh;
    margin-left: 10px;
    /* margin-top: 3px; */
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    height: 7vh;
 background: linear-gradient(
  to top,
  rgba(100, 100, 100, 0.3),
  rgba(128, 128, 128, 0.3),
  rgba(160, 160, 160, 0.3)
);
}
.navbar_title{
    color: white;
    font-size: 30px;
    font-weight: bold;
    /* margin-top: 0; */
    margin-left: 10px;
}